{% extends "base.html" %}

{% block content %}
<h1>Users Data</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Tag</th>
            <th scope="col">isEntered</th>
            <th scope="col">lastEnterTime</th>
            <th scope="col">lastLeaveTime</th>
        </tr>
    </thead>
    <tbody>
        {% for tag in tags %}
        <tr>
            <td>{{ tag.tagid }}</td>
            <td>{{ tag.isEntered }}</td>
            <td>{{ tag.lastEnterTime }}</td>
            <td>{{ tag.lastLeaveTime }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}