{% extends "base.html" %}

{% block content %}
<h1>Users Log</h1>
<div class="mt-5">
    <button type="button" class="btn btn-primary" id="reload">リロード</button>
</div>

<div class="ratio ratio-16x9">
    <iframe src="/data/graph" frameborder="0"></iframe>
</div>
<div class="ratio ratio-16x9">
    <iframe src="/data/graph" frameborder="0"></iframe>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">tagid</th>
            <th scope="col">entering</th>
            <th scope="col">timestamp</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{ log.id }}</td>
            <td>{{ log.tagid }}</td>
            <td>{{ log.entering }}</td>
            <td>{{ log.timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scriptArea %}
<script>
    document.getElementById('reload').addEventListener('click', () => {
        window.location.reload();
    });
</script>
{% endblock%}